<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./../css/style.css" />
  </head>
  <body>
    <div class="register container-fluid vh-100 p-0">
      <app-nav></app-nav>
      <section class="d-column-end vh-100">
        <form action="">
          <div class="inpt-cont">
            <div class="d-column-start">
              <h1 class="display-1">Blank Journal</h1>
              <p class="subtitle">Start writing?</p>
            </div>
            <hr />
            <div class="d-column-start mb-2">
              <label for="username" id="username">Username</label>
              <input type="text" class="inpt" placeholder="Username" />
            </div>
            <div class="d-column-start mb-2">
              <label for="email" id="email">Email</label>
              <input type="email" class="inpt" placeholder="Email" />
            </div>
            <div class="d-column-start mb-4">
              <label for="password" id="password">Password</label>
              <input type="password" class="inpt" placeholder="Password" />
            </div>
            <div class="mb-4">
              <button class="btn btn-dark" routerLink="/dashboard">Register</button>
            </div>
            <div class="text-center">
              <p>Already a BRiter? <a href="./login.html">Login Now!</a></p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </body>
  <script src="./js/scripts.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"
  ></script>
</html>
